@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//fonts.googleapis.com/css?family=Bitter');

.main-header .logo {
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 24px;
}

h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}

.content {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 250px;
}

#productImage {
    margin-left: auto;
    margin-right: auto;
}

.rgbfun {
    max-hight: 50px;
}